{
  "proseWrap": "always",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "proseWrap": "preserve"
      }
    }
  ]
}